.ssQIHO-checkbox-menu-item > span > span {
    background-color: #000;
    display: inline-block;
  }
  @media (forced-colors: active), (prefers-contrast: more) {
    .ssQIHO-checkbox-menu-item > span > span {
      background-color: ButtonText;
    }
  }

  .gm-style .gm-style-mtc label,
  .gm-style .gm-style-mtc div {
    font-weight: 400;
  }
  .gm-style .gm-style-mtc ul,
  .gm-style .gm-style-mtc li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .LGLeeN-keyboard-shortcuts-view {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .LGLeeN-keyboard-shortcuts-view table,
  .LGLeeN-keyboard-shortcuts-view tbody,
  .LGLeeN-keyboard-shortcuts-view td,
  .LGLeeN-keyboard-shortcuts-view tr {
    background: inherit;
    border: none;
    margin: 0;
    padding: 0;
  }
  .LGLeeN-keyboard-shortcuts-view table {
    display: table;
  }
  .LGLeeN-keyboard-shortcuts-view tr {
    display: table-row;
  }
  .LGLeeN-keyboard-shortcuts-view td {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: table-cell;
    color: #000;
    padding: 6px;
    vertical-align: middle;
    white-space: nowrap;
  }
  .LGLeeN-keyboard-shortcuts-view
    td
    .VdnQmO-keyboard-shortcuts-view--shortcut-key {
    background-color: #e8eaed;
    border-radius: 2px;
    border: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    display: inline-block;
    font-family: Google Sans Text, Roboto, Arial, sans-serif;
    line-height: 16px;
    margin: 0 2px;
    min-height: 20px;
    min-width: 20px;
    padding: 2px 4px;
    position: relative;
    text-align: center;
  }

  .gm-control-active > img {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    display: none;
    left: 50%;
    pointer-events: none;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .gm-control-active > img:nth-child(1) {
    display: block;
  }
  .gm-control-active:focus > img:nth-child(1),
  .gm-control-active:hover > img:nth-child(1),
  .gm-control-active:active > img:nth-child(1),
  .gm-control-active:disabled > img:nth-child(1) {
    display: none;
  }
  .gm-control-active:focus > img:nth-child(2),
  .gm-control-active:hover > img:nth-child(2) {
    display: block;
  }
  .gm-control-active:active > img:nth-child(3) {
    display: block;
  }
  .gm-control-active:disabled > img:nth-child(4) {
    display: block;
  }

  .gm-ui-hover-effect {
  opacity: 0.6;
}
.gm-ui-hover-effect:hover {
  opacity: 1;
}
.gm-ui-hover-effect > span {
  background-color: #000;
}
@media (forced-colors: active), (prefers-contrast: more) {
  .gm-ui-hover-effect > span {
    background-color: ButtonText;
  }
}

.gm-style .gm-style-cc a,
.gm-style .gm-style-cc button,
.gm-style .gm-style-cc span,
.gm-style .gm-style-mtc div {
  font-size: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.gm-style .gm-style-cc a,
.gm-style .gm-style-cc button,
.gm-style .gm-style-cc span {
  outline-offset: 3px;
}

@media print {
  .gm-style .gmnoprint,
  .gmnoprint {
    display: none;
  }
}
@media screen {
  .gm-style .gmnoscreen,
  .gmnoscreen {
    display: none;
  }
}

.gm-style-moc {
  background-color: rgba(0, 0, 0, 0.45);
  pointer-events: none;
  text-align: center;
  -webkit-transition: opacity ease-in-out;
  -o-transition: opacity ease-in-out;
  transition: opacity ease-in-out;
}
.gm-style-mot {
  color: white;
  font-family: Roboto, Arial, sans-serif;
  font-size: 22px;
  margin: 0;
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.gm-style img {
  max-width: none;
}
.gm-style {
  font: 400 11px Roboto, Arial, sans-serif;
  text-decoration: none;
}

.pac-container {
  background-color: #fff;
  position: absolute !important;
  z-index: 1000;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border-top: 1px solid #d9d9d9;
  font-family: Arial, sans-serif;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
.pac-logo:after {
  content: "";
  padding: 1px 1px 1px 0;
  height: 18px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: right;
  display: block;
  background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white3.png);
  background-position: right;
  background-repeat: no-repeat;
  -moz-background-size: 120px 14px;
  background-size: 120px 14px;
}
.hdpi.pac-logo:after {
  background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white3_hdpi.png);
}
.pac-item {
  cursor: default;
  padding: 0 4px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 30px;
  text-align: left;
  border-top: 1px solid #e6e6e6;
  font-size: 11px;
  color: #515151;
}
.pac-item:hover {
  background-color: #fafafa;
}
.pac-item-selected,
.pac-item-selected:hover {
  background-color: #ebf2fe;
}
.pac-matched {
  font-weight: 700;
}
.pac-item-query {
  font-size: 13px;
  padding-right: 3px;
  color: #000;
}
.pac-icon {
  width: 15px;
  height: 20px;
  margin-right: 7px;
  margin-top: 6px;
  display: inline-block;
  vertical-align: top;
  background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/autocomplete-icons.png);
  -moz-background-size: 34px;
  background-size: 34px;
}
.hdpi .pac-icon {
  background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/autocomplete-icons_hdpi.png);
}
.pac-icon-search {
  background-position: -1px -1px;
}
.pac-item-selected .pac-icon-search {
  background-position: -18px -1px;
}
.pac-icon-marker {
  background-position: -1px -161px;
}
.pac-item-selected .pac-icon-marker {
  background-position: -18px -161px;
}
.pac-placeholder {
  color: gray;
}
.pac-target-input:-webkit-autofill {
  -webkit-animation-name: beginBrowserAutofill;
  animation-name: beginBrowserAutofill;
}
.pac-target-input:not(:-webkit-autofill) {
  -webkit-animation-name: endBrowserAutofill;
  animation-name: endBrowserAutofill;
}
